{% extends 'base.html' %}

{% block contenido %}
    <h1>Listado de Placas</h1>
    <a href="{% url 'placaCreate' %}" class="btn btn-primary">Nuevas Placas</a>
    <div class="card-body">
      <div class="table-responsive">
    
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <td><b>Numero</b></td>
          <td>Vehiculo</td>
          <td>Propietario</td>
          <td>Opciones</td>
        </tr>
      </thead>
      <tbody>
        {% for item in placas %}
        <tr>
          <td>{{item.numero}}</td>
          <td>{{item.vehiculo}}</td>
          <td>{{item.propietario}}</td>
          <td>
            <a class="btn btn-secondary" href="{% url 'placaEdit' item.id %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'placaDelete' item.id %}" role="button">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>    
    </div>
    </div>
{% endblock %}